{
    "name": "my/repository",
    "homepage": "http://packages.example.org",
    "output-dir": "public",
    "output-html": true,
    "repositories": [
        { "type": "vcs", "url": "https://github.com/mycompany/privaterepo" },
        { "type": "vcs", "url": "http://svn.example.org/private/repo" },
        { "type": "git", "url": "https://github.com/mycompany/privaterepo2" }
    ],
    "require-all": true
}